.jq-selectbox {

    &__select {
        width: 100%;
        background-color: #fff;
        min-width: 321px;
        display: inline-block;
        box-sizing: border-box;
        border: 1px solid #e0e0e0;
        position: relative;

        &-text  {
            box-sizing: border-box;
            font-size: 12px;
            color: #3b3b3b;
            padding: 7px 9px;
            padding-right: 35px;
        }
    }

    &.opened .jq-selectbox__trigger {
        background-color: #eb3035;
    }

    &__trigger {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 28px;
        height: 28px;
        background-color: #d51d1d;
        box-shadow: inset 0 -2px 0 rgba(#000, .18), 0 1px 1px rgba(#000, .31);

        &:hover {
            cursor: pointer;
            background-color: #eb3035;
        }
        
        &-arrow {
            width: 9px;
            height: 7px;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            background-image: url('../images/select-arrow.png');
            background-repeat: no-repeat;
        }
    }

    &.gradient .jq-selectbox__trigger {
        background: rgb(213,29,29); /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q1MWQxZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2ZmM2EzYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Q4MWYxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Q4MWYxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMTFhMWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  rgba(213,29,29,1) 0%, rgba(255,58,58,1) 47%, rgba(216,31,31,1) 47%, rgba(216,31,31,1) 47%, rgba(209,26,26,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(213,29,29,1)), color-stop(47%,rgba(255,58,58,1)), color-stop(47%,rgba(216,31,31,1)), color-stop(47%,rgba(216,31,31,1)), color-stop(100%,rgba(209,26,26,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(213,29,29,1) 0%,rgba(255,58,58,1) 47%,rgba(216,31,31,1) 47%,rgba(216,31,31,1) 47%,rgba(209,26,26,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(213,29,29,1) 0%,rgba(255,58,58,1) 47%,rgba(216,31,31,1) 47%,rgba(216,31,31,1) 47%,rgba(209,26,26,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(213,29,29,1) 0%,rgba(255,58,58,1) 47%,rgba(216,31,31,1) 47%,rgba(216,31,31,1) 47%,rgba(209,26,26,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(213,29,29,1) 0%,rgba(255,58,58,1) 47%,rgba(216,31,31,1) 47%,rgba(216,31,31,1) 47%,rgba(209,26,26,1) 100%); /* W3C */
        box-shadow: 0 1px 1px rgba(0,0,0, .31), inset 0 -2px 0 rgba(0,0,0, .18);
    }

    &__dropdown {
        width: 100%;
        background-color: #fff;
        border: 1px solid #e0e0e0;
        border-top: none;
        box-sizing: border-box;

        ul {
            margin: 0;
            padding-left: 0;
            list-style: none;

            & > li {
                margin: 10px 0;
                font-size: 12px;
                color: #3b3b3b;
                padding-left: 10px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="url"],
input[type="tel"] {
    background-color: #fff;
    font-size: 12px;
    color: #3b3b3b;
    box-sizing: border-box;
    // min-width: 240px;
    border: 1px solid #e0e0e0;
    padding: 7px 10px;
    transition: all .3s;

    &:focus {
        box-shadow: 0 0 3px rgba(#78b020, .79);
    }

    &.error {
        box-shadow: 0 0 3px rgba(#d61d22, .79)
    }

    &:disabled {
        background-color: #e0e0e0;
    }

    &::-webkit-input-placeholder { color: #3b3b3b; }
    &::-moz-placeholder { color: #3b3b3b; }
    &:-moz-placeholder { color: #3b3b3b; }
    &:-ms-input-placeholder { color: #3b3b3b; }
}


.jq-checkbox {
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    vertical-align: middle;
    margin: 0 6px;

    &:hover {
        cursor: pointer;
    }

    &__div {
        width: 4px;
        height: 4px;
        background-color: #d51d1d;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }

    &.checked {
        border-color: #d51d1d;

        .jq-checkbox__div {
            display: block;
        }
    }

    & + label {
        font-size: 11px;
        color: #3b3b3b;
        display: inline-block;

        &:hover {
            cursor: pointer;
        }
    }
}

.jq-radio {
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    vertical-align: middle;
    margin: 0 6px;
    border-radius: 50%;

    &:hover {
        cursor: pointer;
    }

    &__div {
        width: 4px;
        height: 4px;
        background-color: #d51d1d;
        display: none;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }

    &.checked {
        border-color: #d51d1d;

        .jq-radio__div {
            display: block;
        }
    }

    & + label {
        font-size: 11px;
        color: #3b3b3b;
        display: inline-block;

        &:hover {
            cursor: pointer;
        }
    }
}